body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

section {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
}

input, select, button {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background-color: #c52020;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555555;
}

#categoryList, #productList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
